---
---

@import "{{ site.theme }}";

header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #2C82C9;
  background-image: none;
  height: 50px;
}

h1, h2, h3, h4, h5 {
  font-family: 'Comfortaa', sans-serif !important;
  letter-spacing: 0.1em;
}

header.header-secondary {
  background-color: #6C8784;
  background-image: none;
  height: 20px;
}

header h1 {
  display: inline-block;
  font-size: 50px;
  line-height: 50px;
  width: 300px;
}

header h2 {
  display: inline-block;
  color: white;
  width: 60%;
  font-size: 24px;
}


body {
  font-family: 'Open Sans', sans-serif;
}

#main-content h1 {
  font-size: 2.2em;
  letter-spacing: 0.05em;
}

a {
  color: #2C82C9;
}

ol {
  padding-left: 40px;
}

ol li {
  margin-bottom: 20px;
}

aside#sidebar .kit-promo {
  font-size: 16px;
  text-align: center;
}

aside#sidebar hr {
  margin: 4em 0;
}

.smaller {
  font-size: 0.8em;
}

.img-callout {
  width: 65%;
  padding: 40px;
  margin: auto 10%;
  border-width: 1px;
  border-style: dashed;
  border-color: #999999;
  text-align: center;
  border-radius: 8px;
}

// #71BA51 , #6C8784 , #2C82C9