<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Comfortaa|Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}" media="screen" type="text/css">
    <link rel="stylesheet" href="{{ '/assets/css/print.css' | relative_url }}" media="print" type="text/css">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicons/manifest.json">
    <link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Facebook Open Graph markup -->
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    {% if page.og_image %}
    <meta property="og:image" content="{{ page.og_image }}" />
    {% endif %}
    {% if page.og_description %}
    <meta property="og:description" content="{{ page.og_description }}" />
    {% endif %}

    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '235610976930801');
        fbq('track', 'PageView');
    </script>
    <noscript><img height="1" width="1" style="display:none"
                   src="https://www.facebook.com/tr?id=235610976930801&ev=PageView&noscript=1"
    /></noscript>
    <!-- End Facebook Pixel Code -->

    <title>{{ page.title | default: site.github.repository_name }}</title>
</head>

<script>fbq('track', 'ViewContent');</script>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=341938729194248";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<header>
    <div class="inner">
        <h1>
            <a href="{{ '/' | absolute_url }}">
                <img src="/assets/images/logo-white.svg" alt="{{ site.title | default: site.github.repository_name }}"/>
            </a>
        </h1>
    </div>
</header>

<div id="content-wrapper">
    <div class="inner clearfix">
        <section id="breadcrumbs">
            {% include breadcrumbs.html %}
        </section>
        <section id="main-content">
            {{ content }}

            {% if page.comments %}
            <div id="disqus_thread"></div>
            <script>
                 var disqus_config = function () {
                 this.page.url = "http://docs.konnected.io{{ page.url }}";
                 this.page.identifier = "{{ page.url }}";
                 };

                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://konnected.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            {% endif %}

            {% if page.amazon_ads %}
            <hr>
            <div class="amz">
                <script type="text/javascript">
                    amzn_assoc_placement = "adunit0";
                    amzn_assoc_search_bar = "true";
                    amzn_assoc_tracking_id = "konnected-io-20";
                    amzn_assoc_ad_mode = "manual";
                    amzn_assoc_random_permute = "true";
                    amzn_assoc_ad_type = "smart";
                    amzn_assoc_marketplace = "amazon";
                    amzn_assoc_region = "US";
                    amzn_assoc_title = "Product Recommendations";
                    amzn_assoc_linkid = "cdb12ebb0ec74c951d75ad608d772f01";
                    amzn_assoc_asins = "{{ page.amazon_assoc_asins | default: site.amazon_assoc_asins }}";
                </script>
                <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
            </div>
            {% endif %}
        </section>

        <aside id="sidebar">
            <div class="kit-promo">
                <h2>diy kit</h2>
                <a href="https://store.konnected.io" target="_blank">
                    <img src="/assets/images/complete-kit.jpg"/>
                </a>
                <p>
                    <strong>Starting at </strong> <a href="https://store.konnected.io/products/wired-alarm-system-complete-kit" target="_blank">$49</a>
                </p>
            </div>

            <hr/>

            <div class="kit-promo">
                <h3>open source home security</h3>
                <a href="/donate">
                    <img src="/assets/images/donate-icon.png" width="85px"/>
                </a>
                <p>
                    <a href="/donate">Support this project</a>
                </p>
                <p class="smallest">
                    Your Smart Home is secure thanks to many hours of hard work by Nate & Jason, the creators
                    this open source project. Please consider <a href="/donate">donating what you feel it's worth</a> or
                    <a href="https://store.konnected.io" target="_blank">buying one of our kits</a> to support future development.
                </p>
            </div>

            <hr>

            <div class="kit-promo">
                <h3>help & support</h3>
                <p>
                    Have questions?<br/>
                    <a href="mailto:help@konnected.io">help@konnected.io</a>
                </p>
            </div>
            <hr>
        </aside>
    </div>
</div>
<script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=c445d107-3db5-422c-b154-b27a219f6c98"></script>
{% if site.google_analytics %}
<script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', '{{ site.google_analytics }}', 'auto');
    ga('send', 'pageview');
</script>
{% endif %}
<script type="text/javascript" src="https://www.affiliatly.com/other_frameworks.js?affiliatly_code=AF-108708"></script>
</body>
</html>